<!-- your html code here -->
<div class="container serviceshtml">
    <div class="row justify-content-center md-10 offset-md-1">
        <div class="col-12 col-lg-10">
            <div class="row justify-content-center align-items-start gx-3 gy-4">
                <div class="col-12 col-md-4 d-flex justify-content-center pt-md-4">
                    <img src="assets/img/2.jpg" class="rounded-circle img-fluid"
                        style="width:180px; height:180px; object-fit:cover;" alt="service">
                </div>

                <div class="col-12 col-md-8">
                    <div>
                            <h2 class="mb-0">
                                <span class="fw-bold text-dark">The Second Heading</span>
                                <span class="fw-bold text-dark opacity-75">is Pretty Cool Too</span>
                            </h2>
                    </div>
                    <p class="text-dark mb-0 mt-2">
                        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta feliz euismod
                        semper. Praesent commodo cursus magfna, vel scelerisque nisl consectetur Fusce dapiobus, tellus
                        ac cursus commodo.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>