<!-- hecho por Juan David Gómez -->
<header class="text-center position-relative">
  <img src="/website/assets/img/bg.jpg" class="img-fluid w-100" alt="">

  <div class="position-absolute top-50 start-50 translate-middle w-100 px-3">

    <div class="bg-white py-3 shadow mb-3">
      <h1 class="display-1 fw-bold mb-0">
        One Page Wonder
      </h1>
    </div>

    <div class="bg-white py-2 shadow">
      <h2 class="display-5 fw-bold mb-0">
        Will Knock Your Socks Off
      </h2>
    </div>

  </div>
</header>